.footer {
  background-color: #212331;
  padding-top: 100px;
}
.footer-grid {
  margin: 0 -42px;
}
.footer-item {
  padding: 20px 0;
}
.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.footer-logo_img {
  color: var(--primary-color);
  width: 69px;
  height: 65px;
  margin-right: 10px;
}
.footer-logo__txt {
  color: var(--white-color);
  font-size: 38.67px;
}

.footer-contact__label {
  margin-top: 20px;
  margin-bottom: 4px;
}
.footer-contact__label:first-child {
  margin-top: 0;
}
.footer-contact__address {
  padding-bottom: 30px;
}
.footer-contact__phone {
  padding-top: 30px;
}
.footer-contact__txt {
  margin: 0 4px;
}
.footer-post__item {
  height: 70px !important;
  grid-template-columns: 70px calc(100% - 70px) !important;
  grid-column-gap: 10px;
  margin-bottom: 12px !important;
  padding-bottom: 31%;
}
.footer-post__date {
  margin-top: 8px;
}
.footer-item__title {
  margin-bottom: 30px;
}
.footer-useful__list {
  list-style: none;
  padding: 0;
}
.footer-useful__item {
  padding: 8px 0;
}
.footer-useful__item i {
  font-size: 6px;
  margin-right: 10px;
  color: var(--primary-color);
}
.footer-useful__link {
  display: flex;
  align-items: center;
}
.footer-useful__item:hover i {
  color: var(--white-color);
}
.footer-useful__item:hover .footer-useful__link {
  color: var(--primary-color);
}

.footer-email__group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #181828;
  height: 40px;
  border: 1px solid var(--gray-color);
  align-items: center;
  border-radius: 3px;
  padding: 0 15px;
  margin-bottom: 15px;
}
.footer-email__input {
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: calc(100% - 16px);
}
.footer-email__group i {
  color: var(--gray-color);
}
.footer-email__mess textarea {
  width: 100%;
  outline: none;
  border: 1px solid var(--gray-color);
  padding: 15px;
  background-color: #181828;
  color: var(--border-color);
  margin-bottom: 15px;
}
.footer-email__input {
  color: #93a2ae;
}
.footer-email__mess textarea:focus {
  color: #93a2ae;
  border-color: var(--primary-color);
}
.footer-email__btn {
  background-color: #394050;
  color: #99a9b5;
  font-size: 14px;
  width: 100%;
  height: 40px !important;
}
.footer-project__list {
  display: flex;
  flex-wrap: wrap;
}
.footer-project__item {
  width: calc((100% - 30px) / 3);
  height: 80px;
  background-color: #5c6973;
  margin-right: 10px;
  margin-bottom: 10px;
}
.footer-project__item:first-child,
.footer-project__item:last-child {
  background-color: #828e97;
}
.footer-project__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-project__control {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.footer-project__btn {
  width: 14px;
  height: 14px;
  background-color: #394050;
  border-radius: 50%;
  margin-right: 10px;
}
.footer-project__btn.active {
  background-color: #99a9b5;
}
.footer-project__btn:last-child {
  margin-right: 0;
}
.footer-news__desc {
  color: #99a9b5;
  font-size: 16px;
}
.footer-news__wrap {
  width: 100%;
  height: 40px;
  background-color: #181828;
  border: 1px solid #394050;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.footer-news__input {
  width: calc(100% - 40px);
  height: 100%;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #383948;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  padding-left: 15px;
}
.footer-news__btn {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #394050;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  color: #99a9b5;
}
.footer-news__note {
  font-size: 14px;
  color: #454656;
  margin-top: 15px;
}
.footer-news__note span {
  color: var(--primary-color);
}
/* widget */
.footer-widget {
  background-color: #181828;
  display: flex;
  justify-content: space-between;
  padding: 45px;
}
.footer-widget__grid {
  display: flex;
  justify-content: space-between;
}

.footer-widget__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.footer-widget__item {
  padding: 0 10px;
  border-right: 1px solid var(--gray-color);
  font-weight: 600;
}
.footer-widget__social {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.footer-widget__social div {
  margin-right: 10px;
}
.footer-widget__social--twitter i {
  color: #16a7b9;
}
.footer-widget__social--facebook i {
  color: #315bd6;
}
.footer-widget__social--linkin i {
  color: #0288d1;
}
.footer-widget__social--instagram i {
  color: #786f4c;
}
.footer-widget__social--youtube i {
  color: #ae0e0e;
}
.footer-widget__social--gplus i {
  color: #d53c33;
}
.footer-widget__social--pinterest i {
  color: #de4d4f;
}
