.header-top {
  font-size: 14px;
  width: 100%;
  background-color: var(--light-color);
  border-bottom: 1px solid var(--border-color);
}
.header-top__list {
  display: flex;
  align-items: center;
  height: 50px;
  color: var(--gray-color);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.header-top__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
}
.header-top__phone i {
  margin-right: 10px;
}
.header-top__link {
  color: var(--gray-color);
  font-size: 14px;
  display: block;
  font-weight: 300;
}
.header-top__link:hover {
  color: var(--primary-color);
}
.header-social {
  display: flex;
  align-items: center;
  height: 100%;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  padding: 0 50px;
}
.header-social__item {
  margin-right: 15px;
}
.header-social__item:last-child {
  margin-right: 0;
}
.header-social__item .header-top__link {
  font-size: 16px;
}
.header-social__icon--youtube {
  color: var(--red-color);
}
.header-top__menu {
  display: flex;
  padding-left: 50px;
}
.header-top__item {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.header-top__item i {
  font-size: 10px;
  margin-right: 6px;
}
.header-top__btn {
  margin-left: auto;
  background-color: #494c64;
  color: var(--white-color);
  cursor: pointer;
}
.header-top__btn:hover {
  background-color: var(--primary-color);
  transition: 0.3s;
}
/* HEADER BAR MENU */
.header-bar {
  padding: 30px 0;
}
.header-logo__link {
  font-size: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo__link p {
  margin: 0;
  margin-left: 4px;
}
/* header menu */
.header-menu {
  margin-left: 20px;
}
.header-menu__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-menu__item {
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu__item.active {
  border: 1px solid var(--charcoal-color);
}
.header-menu__item--link {
  font-size: 14px;
  display: block;
  line-height: 15px;
  color: var(--charcoal-color);
}
.header-menu__item--link:hover {
  color: var(--primary-color);
}
/* tool */
.header-tool {
  display: flex;
  align-items: center;
}
.header-tool__item {
  margin-left: 20px;
}
.header-tool__item--has-txt {
  margin-left: 15px;
  width: 24px;
  height: 17px;
  line-height: 15px;
  background-color: var(--primary-color);
  text-align: center;
  position: relative;
}
.header-tool__item--has-txt::before {
  background-color: var(--primary-color);
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  left: -6px;
  top: 2.6px;
  z-index: -1;
}
.header-tool__language--vietnam {
  display: none;
}
