/* main    */
.home-banner {
  @include bgCoverCenter;
  height: 400px;
  position: relative;
  .home-banner__control {
    &--icon {
      position: absolute;
      font-size: 48px;
      color: $white-color;
      background-color: #212331;
      top: 50%;
      padding: 16px;
      transform: translateY(-50%);
      cursor: pointer;
      transition: 0.3s;
    }
    &--icon:hover {
      background-color: $primary-color;
      transition: 0.3s;
    }
    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }
    @include maxWidth(767px) {
      display: none;
    }
  }
  &__content {
    color: $white-color;
    padding-top: 80px;
    @include maxWidth(575px) {
      padding: 80px 15px 0 15px;
    }
  }
  &__title {
    @include flex($content: flex-end);
    font-size: 100px;
    @include maxWidth(767px) {
      font-size: 80px;
    }
    @include maxWidth(575px) {
      font-size: 70px;
    }
    @include maxWidth(400px) {
      font-size: 60px;
    }
  }
  &__numb {
    margin: 0;
    font-family: "Montserrat-bold";
    margin-right: 20px;
  }
  &__txt {
    font-family: "Montserrat-Regular";
    font-weight: 100;
    margin: 0;
  }
  &__desc {
    font-family: "SourceSansPro-Light";
    text-align: end;
    font-size: 24px;
    @include maxWidth(767px) {
      font-size: 21px;
    }
    @include maxWidth(575px) {
      font-size: 18px;
    }
  }
  &__desc--txt {
    margin-bottom: 8px;
  }
}
.home-banner__page {
  @include absolute($bottom: 0, $left: 90px);
  @include flex($items: center);
  padding: 10px 0;
  font-size: 16px;
  font-weight: 300;
  color: $white-color;
  @include maxWidth(992px) {
    @include absolute($bottom: 0, $left: 155px);
  }
  i {
    margin: 0 15px;
    font-size: 14px;
  }
  &--home {
    color: $primary-color;
  }
  &--now {
    position: relative;
  }
  &--now::after {
    @include absolute($bottom: -10px, $left: 0);
    content: "";
    border-bottom: 2px solid $red-color;
    width: 100%;
  }
}

/* content of home page */

.home-content {
  padding: 110px 0 0 0;
  &__left {
    margin-left: -21px;
    @include maxWidth(767px) {
      margin-left: 0;
    }
    @include maxWidth(575px) {
      margin-left: 0;
    }
  }
  // CATEGORY
  .home-category {
    &__title {
      font-family: "Montserrat-bold";
      margin-bottom: 30px;
    }
    &__item {
      @include flex($content: space-between, $items: baseline);
      justify-content: space-between;
      padding: 18px;
      cursor: pointer;
      border: 1px solid $border-color;
    }
    &__item:hover {
      color: $primary-color;
    }
    &__submenu {
      display: none;
      list-style: square;
    }
    &__subitem {
      @include flex($content: space-between, $items: baseline);
      padding: 18px 24px;
      border: 1px solid $border-color;
      list-style: square !important;
      cursor: pointer;

      font-size: 16px;
      background-color: #f4f6f7;
    }
    &__smmenu {
      display: none;
      list-style: square;
    }
    &__smitem {
      @include flex($content: space-between, $items: baseline);
      padding: 18px 24px;
      border: 1px solid $border-color;
      list-style: square !important;
      cursor: pointer;
      font-size: 16px;
      background-color: #eff2f3;
    }
    &__smitem:hover {
      color: $red-color;
      background-color: #d8e3e8;
    }
  }
  .home-search {
    width: 100%;
    height: 40px;
    @include flex($wrap: wrap, $items: center);
    color: $gray-color;
    font-size: 14px;
    border: 2px solid $border-color;
    border-radius: 1px;
    &__input {
      width: 90%;
      height: 100%;
      padding-left: 18px;
      border: none;
    }
    &__input:focus {
      outline: none;
    }
  }
}

/* search  */

/* filter  */
.home-filter {
  &__bar {
    width: 100%;
    margin: 25px 0;
  }
  &__bar--input {
    width: 100%;
  }
  &__select {
    @include flex($content: space-between, $items: center);
    @include maxWidth(991px) {
      flex-direction: column;
    }
  }
  &__price {
    color: #5f727f;
    font-size: 16px;
  }
  &__btn {
    @include maxWidth(991px) {
      margin-top: 10px;
      order: 2;
    }
  }
  &__input:hover {
    .home-filter__list {
      display: block;
    }
  }
  &__input-icon {
    font-size: 14px;
    color: $gray-color;
  }
  &__list {
    position: absolute;
    list-style: none;
    padding: 0;
    width: 100%;
    top: 30px;
    left: 0;
    display: none;
    z-index: 2;
  }
  &__item {
    width: 100%;
    height: 40px;
    @include flex($items: baseline);
    background-color: #eef5f7;
    padding-left: 15px;
  }
  &__item:hover {
    background-color: #c7ecf1;
  }
  &__link {
    display: block;
  }
}

/* product recently */
.home-recently__list {
  background-color: #f0f3f2;
  width: 100%;
  margin-top: 30px;
}

/* tags find */
.home-tags {
  &__list {
    @include flex($wrap: wrap);
    margin-top: 30px;
    margin-right: -31px;
    @include maxWidth(767px) {
      margin: 15px -15px 0 -15px;
    }
  }
  &__item {
    padding: 5px 10px;
    border: 1px solid #99a9b5;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.home-fearture {
  &__list {
    margin-top: 30px;
  }
  &__img {
    margin: auto 0 !important;
  }
  &__txt {
    margin: auto 0 !important;
  }
}
/* for advertisement */
.home-advertise {
  text-align: center;
  background-color: #ff5176;
  padding: 20px;
  position: relative;
  color: $white-color;
  &__content {
    padding: 20px;
    border: 5px solid $white-color;
  }
  &__title {
    font-size: 120px;
    @include maxWidth(991px) {
      font-size: 90px;
    }
  }
  &__subtitle {
    font-size: 24px;
    @include maxWidth(991px) {
      font-size: 20px;
    }
  }

  &__subtitle-yellow {
    color: #ffd75e;
    margin: 5px 0 !important;
  }
  &__desc {
    font-size: 24px;
    padding: 0 10px;
    line-height: 35px;
    @include maxWidth(991px) {
      font-size: 20px;
    }
  }
  &__input {
    width: 100%;
    height: 40px;
    margin: 30px 0 15px 0;
    input {
      width: 100%;
      height: 100%;
      padding-left: 15px;
      font-size: 16px;
      border: none;
      outline: none;
      @include maxWidth(991px) {
        font-size: 12px !important;
        padding-left: 8px;
      }
    }
    input:focus {
      outline: none;
    }
  }
  &__btn {
    width: 100%;
    height: 40px !important;
  }
}

@media (max-width: 1240px) {
  .home-advertise__content {
    padding: 10px;
  }
}

@media (max-width: 1240px) {
  .home-advertise__content {
    padding: 10px;
  }
  .home-advertise__input input {
    padding-left: 10px;
    font-size: 15px;
  }
}
/* cart */
.home-cart {
  @include maxWidth(575px) {
    margin-bottom: 15px;
  }
  &__list {
    margin-top: 30px;
  }
  &__img {
    margin: auto 0 !important;
  }
  &__txt {
    margin: auto 0 !important;
  }
  &__total {
    @include flex($content: space-between, $items: center);
    margin-bottom: 10px;
  }
  &__choose {
    @include flex($content: space-between);
    @include maxWidth(991px) {
      @include flex($content: center, $direction: column, $items: center);
    }
  }
  &__btn {
    width: calc((100% - 30px) / 2);
  }
  .home-cart__btn.home-cart__btn--has-border {
    @include maxWidth(991px) {
      margin-top: 10px;
    }
  }
  &__btn--has-border {
    border: 1px solid $charcoal-color !important;
  }
}
/* end left content */

/* home right content  */
.home-content__right {
  margin-right: -21px;
}
.home-product {
  width: 100%;
  &__kind {
    margin-right: -42px;
    margin-bottom: 40px;
    @include maxWidth(575px) {
      margin-right: -15px;
    }
    @include maxWidth(767px) {
      margin-right: -15px;
    }
    .home-product__kind--txt {
      text-align: center;
      background-color: #f9fbfc;
      padding: 20px 0;
      color: #3c3950;
    }
    .home-product__blank {
      height: 50px;
      width: 100%;
    }
  }
  &__item {
    margin-bottom: 42px;
    @include maxWidth(991px) {
      margin-bottom: 30px;
    }
  }
  &__link:hover {
    .home-product__kind--txt {
      background-color: #393d50;
      color: $white-color;
      transition: 0.3s;
    }
  }
  &__img {
    height: 210px;
  }
  &__paginate {
    text-align: center;
    margin: 15px 0 60px 0;
  }
  &__paginate-btn {
    min-width: 30px !important;
    height: 30px;
    border-radius: 2px !important;
    border: 1px solid $gray-color !important;
    color: $gray-color;
    cursor: pointer;
  }
  &__paginate-btn:hover {
    background-color: $charcoal-color;
    color: $white-color;
  }
  &__paginate--prev {
    margin-right: 12px;
  }
  // mode
  .homepage-mode {
    margin-left: 24px;
    @include flex($content: space-between, $items: center);
    width: 126px;
    @include maxWidth(991px) {
      margin-left: 15px;
    }
    &__txt {
      font-size: 14px;
    }
    @include maxWidth(767px) {
      display: none;
    }
  }
  .homepage-sort__switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    .homepage-mode__input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .homepage-sort__slider {
      @include absoluteFull;
      cursor: pointer;
      background-color: #ccc;
      transition: 0.3s;
    }
    .homepage-sort__slider.homepage-sort__round {
      border-radius: 34px;
    }
    .homepage-sort__slider.homepage-sort__round:before {
      border-radius: 50%;
    }
    .homepage-sort__slider:before {
      @include absolute($left: 2px, $bottom: 2px);
      content: "";
      height: 16px;
      width: 16px;
      background-color: white;
      transition: 0.3s;
    }
    .homepage-mode__input:checked + .homepage-sort__slider {
      background-color: $primary-color;
    }
    .homepage-mode__input:checked + .homepage-sort__slider:before {
      transform: translateX(20px);
    }
  }

  //

  .homepage-sort {
    background-color: #f0f3f2;
    height: 50px;
    width: 100%;
    @include flex($content: space-between, $items: center);
    padding: 0 10px;
    &__left {
      height: 100%;
      @include flex($items: center);
    }
    &__input {
      width: 180px !important;
      height: 30px;
      margin-top: 0 !important;
      background-color: $white-color;
      @include maxWidth(575px) {
        width: 140px !important;
      }
    }
    &__right {
      @include flex($items: center);
      margin-left: 25px;
      @include maxWidth(991px) {
        margin-left: 15px;
      }
    }
    &__numberpage {
      margin-right: 15px;
      @include maxWidth(991px) {
        display: none;
      }
    }
  }

  &__txt {
    flex: 1;
    text-align: center;
    @include flex($direction: column, $content: center);
  }
  .home-product__list {
    margin-right: -42px;
    @media (max-width: 575px) {
      margin-right: -15px;
    }
    @include maxWidth(767px) {
      margin-right: -15px;
    }
    .product-card {
      border: 1px solid #f0f3f2;
    }
    .product-card:hover {
      .home-product__txt {
        background-color: #f0f3f2;
      }
    }
    &__name {
      margin: 8px 0 !important;
    }
  }
  .icon-heart.active {
    color: $red-color;
  }
  .product__paginate--number {
    background-color: rgba(0, 0, 0, 0);
    margin-right: 15px;
    @include maxWidth(575px) {
      margin-right: 8px;
    }
  }
  .product__paginate--number:hover {
    background-color: $primary-color;
    color: $white-color;
  }
  .product__paginate--number.active {
    background-color: $charcoal-color;
    color: $white-color;
  }
}
// home brand
.home-brand {
  position: relative;
  padding: 32px 0;
  background-color: #f0f3f2;
  margin-top: 80px;
  @include maxWidth(992px) {
    margin-top: 30px;
  }
  &__content {
    text-align: center;
    width: 100%;
    padding: 40px 30px;
  }
  &__title {
    color: $gray-color;
    font-size: 28px;
  }
  &__list {
    @include flex($wrap: wrap, $content: space-between);
    margin-top: 80px;
    margin-bottom: 90px;
    @include maxWidth(992px) {
      margin: 50px 0;
    }
  }
  &__item {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #dfe5e8;
    margin-right: 40px;
    cursor: pointer;
    @include maxWidth(767px) {
      width: 70px;
      height: 70px;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  &__item:hover {
    background-color: #99a9b5;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__link {
    display: block;
    text-decoration: none;
  }
  &__img {
    width: 100%;
    height: 100%;
    @include bgCoverCenter;
  }
  &__select {
    width: 100%;
    @include flex($content: center);
  }
  &__dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #b6c6c9;
    position: relative;
    margin-right: 20px;
  }
  &__dot:last-child {
    margin-right: 0;
  }
  &__dot.active::after {
    content: "";
    @include absoluteItemCenter;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: $white-color;
  }
}
.home-brand::before {
  background: linear-gradient(-45deg, #f0f3f2 20px, transparent 20px),
    linear-gradient(45deg, #f0f3f2 20px, transparent 20px);
  background-repeat: repeat-x;
  background-size: 50px 29px;
  content: "";
  display: block;
  @include absolute($top: -29px, $left: 0);
  width: 100%;
  height: 35px;
  z-index: 2;
}
.home-brand:after {
  background: linear-gradient(-45deg, #ffffff 20px, transparent 20px),
    linear-gradient(45deg, #ffffff 20px, #f0f3f2 20px);
  background-repeat: repeat-x;
  background-size: 50px 35px;
  content: " ";
  display: block;
  @include absolute($bottom: 0, $left: 0);
  width: 100%;
  height: 35px;
}

/* news */
.home-news {
  width: 100%;
  padding: 80px;
  @include maxWidth(992px) {
    padding: 50px;
  }

  &__title {
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-family: "Montserrat-Light";
    margin-bottom: 45px;
  }
  &__list {
    width: 100%;
    @include flex($wrap: wrap, $content: space-between);
  }
  &__item {
    width: 260px;
    margin-bottom: 30px;
    @include maxWidth(992px) {
      width: calc((100% - 60px) / 3);
    }
    @include maxWidth(767px) {
      width: 100%;
    }
  }
  &__img {
    height: 188px;
    background-color: #dfe5e8;
  }
  &__content {
    padding: 15px;
  }
  &__action {
    @include flex($content: space-between);
  }
  &__comment {
    margin-right: 15px;
  }
  &__interactive {
    i {
      margin-right: 4px;
    }
  }
  &__love.selected {
    color: $red-color;
  }
  &__name--bold {
    font-family: "Montserrat-Bold";
  }
  &__name--nor {
    font-family: "Montserrat-Light" !important;
  }
  &__more {
    margin-top: 30px;
    @include flex($wrap: wrap, $content: flex-start);
  }
  &__more {
    i {
      font-size: 30px;
      margin-right: 15px;
    }
  }
  &__btn {
    min-width: 124px !important;
    border: 2px solid $primary-color !important;
  }
}
.home-service {
  &__content {
    padding: 70px 0;
    border-style: double;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 100%;
    @include flex($wrap: wrap, $content: space-between);
  }
  &__item {
    border: 1px solid $gray-color;
    border-radius: 0 15px 15px 15px;
    width: calc((100% - 42px) / 2);
    padding: 50px;
    @include maxWidth(767px) {
      padding: 30px;
      width: 100%;
      margin-bottom: 30px;
    }
  }
  &__name {
    @include flex($content: space-between);
    margin-top: 0 !important;
    font-family: "Montserrat-Bold";
  }
  &__box {
    @include flex($wrap: wrap);
  }
  &__box--item {
    width: 50px;
    height: 33px;
    background-color: #dfe5e8;
    margin-right: 30px;
    margin-top: 25px;
  }
  &__ship--item {
    @include flex($items: center);
    margin-bottom: 15px;
  }
  &__ship--item img {
    margin-right: 10px;
  }
}

.home-topproduct {
  background-color: #f0f3f2;
  padding: 80px 0;
  &__grid {
    margin: 0 -42px;
    @include maxWidth(575px) {
      margin: 0 -15px;
    }
    @include maxWidth(767px) {
      margin: 0 -15px;
    }
  }
  &__title {
    margin-bottom: 20px;
  }
  &__wrap {
    @include maxWidth(992px) {
      @include flex($direction: column);
    }
  }
  &__item {
    background-color: $white-color;
    margin-bottom: 10px;
  }
  &__txt {
    padding: 10px 10px 10px 0;
    @include maxWidth(767px) {
      padding: 0;
    }
  }
}
.home-slogan {
  padding: 70px 0;
  background-color: #d1edac;
  &__content {
    @include flex($wrap: wrap, $content: space-between, $items: center);
    width: 100%;
    img {
      @include maxWidth(767px) {
        width: 60px;
      }
    }
  }
  &__txt {
    font-size: 42px;
    @media (max-width: 1242px) {
      font-size: 38px;
    }
    @media (max-width: 991px) {
      font-size: 28px;
    }
    @include maxWidth(710px) {
      order: 3;
      margin: 0 auto;
    }
  }
  &__btn {
    border: 2px solid $gray-color !important;
    height: 50px !important;
    width: 236px;
    @media (max-width: 1242px) {
      width: 150px;
    }
    @media (max-width: 991px) {
      width: 140px;
    }
  }
}
